/* Imports in fonts to use on website */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.grid-container {
    margin: auto; /* center the wrapper */

    /* Declare the grid container */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 2fr 0.25fr;
    grid-gap: 2px;
}

/* sets colour for the pages */
body{
    background-color: #F5976C;
}

/* grid-item class, sets default border and background for the grids/classes */
.grid-item{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #FFF8DC;
}

/* Class for logo, sets grid area */
.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Class for Canteen heading */
/* sets grid area and font formatting */
.main_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Class for search feature, sets grid area */
.search{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

}

/* Second logo class for a logo on the right */
/* Sets grid area */
.logo_right{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Navigation class  */
/* Sets grid area and button spacing */
.navigation{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Filter class */
/* Sets grid area and font formatting*/
.filters{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* Heading class for Food and Drinks pages */
/* Sets grid area and font formatting */
.product_page_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* Product class for the left column for Food, drinks, and weekly special pages */
/* Sets grid area, font formatting, and background colour */
.left_products{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

/* Product class for the right column for Food, drinks, and weekly special pages */
/* Sets grid area, font formatting, and background colour */
.right_products{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

/* Footer class, sets grid area and slight text placement */
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-left: 2px;
}

/* Heading class for Home and Weekly Specials pages */
/* Sets grid area and font formatting */
.upper_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* Text class for home page */
/* Sets grid area and font formatting*/
.home_text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* Text class for Weekly Special page */
/* Sets grid area and font formatting*/
.weekly_special_text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
}

/* Class for links(navigation buttons) */
/* Button formatting for font, spacing and colours */
a{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
}

/* Class for Filter Buttons */
/* Button formatting for font, spacing and colours */
input.filter{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* Class for the search Button */
/* Button formatting for font, spacing and colours */
input.search_button{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

/* Class for images e.g. the logo */
/* Removes styling applied by other classes by setting to transparent */
.image{
    background-color: transparent;
    text-decoration: none;
    border-color: transparent;
}