@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.grid-container {
    width: 960px;
    margin: auto; /* center the wrapper */

    /* Declare the grid container */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 2fr 0.25fr;
    grid-gap: 2px;
}

body{
    background-color: #F5976C;
}

.grid-item{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #FFF8DC;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.search{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

}

.logo_right{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.navigation{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FFF8DC;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filters{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.product_page_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.left_products{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.right_products{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-left: 2px;
}

.upper_heading{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.home_text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.weekly_special_text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
}

a{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
}

input.filter{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

input.search_button{
    background-color: #F5976C;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

.image{
    background-color: transparent;
    text-decoration: none;
    border-color: transparent;
}